<!DOCTYPE html>
<html>
  <head>
    <title>Anomaly Detection</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Anomaly Detection</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="field">Select Field : </label>
      <select name="field" id="field">
        <option value=""></option>
        {% for option in dropdown_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
      <br><br>
      <div class="upload-btn-wrapper">
        <button class="btn">Choose File</button>
        <input type="file" name="file" />
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
