<!DOCTYPE html>
<html>
  <head>
    <title>Plot</title>
  </head>
  <body>
    <h1>Enter Data</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="field">Select Field : </label>
      <select name="field" id="field">
        <option value=""></option>
        {% for option in dropdown_options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
      <br><br>
      <input type="file" name="file">
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
